.Header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(0, 0, 0);
}

.leftHeader{
    display: flex;
}

.logo{
    width: 150px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 500px;
}

.menu li{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.headerButton{
    font-size: 20px;
    color: white;
    font-weight: 200;
    border: 1px white solid;
    border-radius: 20px;
    padding: 8px;
}